:root {font-size: .81rem;}

body {
  font-family: "Red Hat Display", sans-serif;
  min-block-size: 100vh;
  background: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-inline: 25px;
}

.article__image {
  border-radius: 10px 10px 0 0;
}

.article__heading {
  margin-block-start: 30px;
  font-size: 1.3rem;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  line-height: 1.4em;
}
.article__content {
  color: hsl(214, 17%, 51%);
  padding-inline: 32px;
  font-weight: 500;
  font-size: 1.06rem;
}

.article__footer {
  position: relative;
  color: hsl(212, 23%, 69%);
  padding: 10px 32px 16px;
  margin-block-start: 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__footer.links {
  background: hsl(217, 19%, 35%);
  padding-block-start: 16px;
}

.article__author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.article__author img {
  block-size: 36px;
  border-radius: 50%;
}

.article__author p {margin: 0;}
.article__author span {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.article__shareBtn {
  border-radius: 50%;
  block-size: 32px;
  inline-size: 32px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
}
.article__shareBtn svg path {fill: #6E8098;}
.article__shareBtn.active {background: hsl(214, 17%, 51%);}
.article__shareBtn.active svg path {fill: #fff;}

.article__links {
  display: none;
  background: hsl(217, 19%, 35%);
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.article__links span {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.article__links a {
  inline-size: 20px;
  block-size: 20px;
}
.links__facebook {background: url(images/icon-facebook.svg);}
.links__twitter {background-image: url(images/icon-twitter.svg);}
.links__pinterest {background-image: url(images/icon-pinterest.svg);}

@media (min-width: 768px) {
  .container {
    max-inline-size: 768px;
    flex-direction: row;
  }
  .article__image {
    max-block-size: 300px;
    max-inline-size: none;
    border-radius: 10px 0 0 10px;
  }
  .article__heading {font-size: clamp(1.2rem, 1.7rem, 2.4rem)}
  .article__content {
    padding-inline: 40px;
    font-size: clamp(1rem, 1.15rem, 2rem);
  }
  .article__links {
    position: absolute;
    inline-size: 230px;
    padding: 16px;
    bottom: 130%;
    right: -67px;
    text-align: center;
    border-radius: 8px;
  }
  .article__links__pointer {
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    right: 115px;
    margin-right: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
}